body {
  overflow: hidden;
}
* {
  font-family: "Segoe UI", "Roboto", "Comic Sans", "Comic Sans MS" !important;
}
#mapid {
  height: 100vh;
  width: 100vw;
}
.leaflet-popup-header {
  border-bottom: 2px solid #212121;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.leaflet-popup-publicatie {
  max-height: 250px;
  overflow: auto;
}
.kvk-paneel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  max-height: 40%;
  z-index: 500;
  transition: 0.2s ease-in-out 0.2s;
  transform: translateY(150%);
}
.kvk-paneel.open {
  transform: translateY(0);
}
.kvk-paneel-binnen {
  position: relative;
  padding: 20px;
  background-color: white;
  height: 100%;
}
.sluit-kvk-paneel {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 50px;
  position: absolute;
  right: 0;
  top: -80px;
  transform: scale(1) translateY(0) translateX(0);
  transition: 0.2s ease-in-out;
}
.sluit-kvk-paneel.groot {
  transform: scale(5) translateY(-50px) translateX(-100px);
}
.kvk-resultaat {
  max-height: calc(100% - 40px);
  max-width: calc(100% - 120px);
  overflow: auto;
  transform: translateX(0);
  transition: 0.2s ease;
}
.kvk-resultaat.ladend {
  transform: translateX(-150%);
}
.kvk-nummers {
  position: absolute;
  max-height: calc(100% - 70px);
  overflow: auto;
  top: 10px;
  right: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 129px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.kvk-nummers li + li {
  margin-top: 10px;
  width: 100%;
}
.knopje {
  border: 0;
  background-color: rgb(122, 21, 21);
  font-weight: bold;
  padding: 10px;
  color: white;
  transition: 0.2s ease;
}
.knopje:hover {
  background-color: rgb(122, 41, 21);
}
.kvk-resultaat ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.kvk-resultaat ul li {
  flex-basis: 250px;
  font-size: 12px;
}
.leaflet-control-attribution > strong {
  margin-left: 10px;
  margin-right: 10px;
}
.leaflet-popup-header-left * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}
.marquee {
  position: absolute;
  background-color: black;
  color: rgb(122, 21, 21);
  font-weight: bold;
  width: 200vw;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 500;
  transition: 0.2s ease-in;
  transform: translateX(-100vw);
}
[disabled] {
  opacity: 0.5;
  filter: saturate(0.5);
}
[disabled]:hover {
  cursor: wait;
}
/* .marquee.beweeg {
  transform: translateX(-100vw);
  display: flex;
  justify-content: space-around;
}
.marquee-binnen-buiten {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.marquee-binnen {
  letter-spacing: -1px;
  display: block;
  margin: 0 auto;
} */
.verborgen {
  display: none;
}
