.leaflet-popup-header {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.leaflet-popup-publicatie {
  max-height: 250px;
  overflow: auto;
}

.leaflet-control-attribution > strong {
  margin-left: 10px;
  margin-right: 10px;
}
.leaflet-popup-header-left * {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  margin-right: 20px;
}

/* met knoppen */
.leaflet-popup-header-right {
  display: flex;
  flex-direction: column;
}

/* ik schrijf louter deze selector omdat ik gezichtjes leuk vind */
.leaflet-popup-header-right > * ~ * {
  margin-top: 10px;
}

/* datum loze faillissementen als oranje markeren */
.leaflet-marker-icon[alt*="geen-datum"] {
  filter: hue-rotate(180deg);
}
/* toekomstige faillissementen als roze markeren */
.leaflet-marker-icon[alt*="in-toekomst"] {
  filter: hue-rotate(110deg);
}

.leaflet-popup-text {
  border-top: 2px solid #212121;
  padding-top: 10px;
  margin-top: 10px;  
}
